version: "3"
services:
  db:
    volumes:
      - pgdata:/pgdata
    networks:
      - development
  app:
    volumes:
      - ./app:/app:delegated
#      - app-sync:/app:nocopy
      - bundle:/usr/local/bundle
      - root:/root # for bash history etc
    command:
      - ./docker-start.override
    networks:
      - development
volumes:
  bundle:
  pgdata:
  root:
#  app-sync:
#    external: true
networks:
  development:
#    external:
#      name: external-app_default # docker network ls
